@import 'tailwindcss';
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/Outfit-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/src/assets/fonts/ClashDisplay-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/src/assets/fonts/ClashDisplay-Semibold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/src/assets/fonts/ClashDisplay-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/src/assets/fonts/ClashDisplay-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  font-family: 'Outfit';
}

/* .tab_button {
  padding: 8px 16px;
  cursor: pointer;
} */
